.newbaccarat-wrapper {
  height: 100vh;
  background-color: #770314 !important;
  box-shadow: inset 0px 0px 400px 100px rgba(0, 0, 0, 0.65);
  background: url(../../assets/items/baccabit_1.png);
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.newbaccarat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.newbaccarat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
}

.newbaccarat-card-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 900px;
  text-align: center;
}
