.newbaccarat-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newbaccarat {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 1920px;
  padding: 0px 30px;
  /* max-width: 1920px; */
  /* max-height: 1080px; */
}

.newbaccarat-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: #fff;
}

.newbaccarat-card-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25%;
  position: relative;
  width: 100%;
  text-align: center;
}

.newbaccarat-footer-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}
