.newbaccarat-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newbaccarat-deposit-withdraw-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border: 10px solid #4d030d;
  border-radius: 30px;
  padding: 5px 10px;
  margin-bottom: 50px;
}

.newbaccarat-deposit-withdraw-btn-wrapper button {
  background-color: #4d030d;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 20px;
  line-height: 25px;
}

.newbaccarat-deposit-withdraw-btn-wrapper button:hover {
  background-color: #670512;
}

.newbaccarat {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 1920px;
  padding: 0px 30px;
  /* max-width: 1920px; */
  /* max-height: 1080px; */
}

.newbaccarat-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: #fff;
}

.newbaccarat-card-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25%;
  position: relative;
  width: 100%;
  text-align: center;
}

.newbaccarat-footer-grid {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: center;
  width: 100%;
}
