/***************** ACTION *****************/

.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.act-buttons-div {
  display: flex;
  gap: 20px;
}

.action-wrapper {
  position: relative;
}

.action-bg {
  max-width: 650px;
  width: 100%;
  display: flex;
  position: relative;
}

.action-bg:before {
  content: "";
  width: 600px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #49020c;
  border-radius: 75px;
  /* background: url(../../../assets/shadow.png);
  width: 670px;
  height: 167px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 54%; */
}

.action-bg:after {
  /* content: "";
  height: calc(100% + 16px);
  width: calc(100% - 109px);
  position: absolute;
  top: -5px;
  background: #061216;
  z-index: 0;
  pointer-events: none;
  left: 0;
  right: 0;
  margin: 0 auto; */
}

.deal-btn button {
  border: none;
  width: 150px;
  height: 50px;
  background: url(../../../assets/wallet-input-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.action-bg button {
  z-index: 5;
}

.action-bg button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0px 2px;
  font-family: "Eight_Bit_Dragon" !important;
  color: #fff;
  font-size: 14px;
}

.cardsDiv {
  visibility: hidden;
  display: flex;
  justify-content: center;
  height: 10px;
}
